@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 100%;
  height: 100%;
  /* padding: 20px; */
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
}

.swiper-button-next::after, .swiper-button-prev::after{
  color: black;
}

@media screen and (max-width: 1024px) {
  .swiper-button-next::after, .swiper-button-prev::after{
    display: none;
  }
}

/* .swiper-button-next{
  height: 10rem;
} */

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
